# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.BlazorApp.iml
# Datasource local storage ignored files
/../../../../../../:\Projects\BlazorApp\.idea\.idea.BlazorApp.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
